@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

/*
$$$$$$$\                              $$\ $$\                     
$$  __$$\                             $$ |$$ |                    
$$ |  $$ |$$$$$$\   $$$$$$\  $$$$$$\  $$ |$$ | $$$$$$\  $$\   $$\ 
$$$$$$$  |\____$$\ $$  __$$\ \____$$\ $$ |$$ | \____$$\ \$$\ $$  |
$$  ____/ $$$$$$$ |$$ |  \__|$$$$$$$ |$$ |$$ | $$$$$$$ | \$$$$  / 
$$ |     $$  __$$ |$$ |     $$  __$$ |$$ |$$ |$$  __$$ | $$  $$<  
$$ |     \$$$$$$$ |$$ |     \$$$$$$$ |$$ |$$ |\$$$$$$$ |$$  /\$$\ 
\__|      \_______|\__|      \_______|\__|\__| \_______|\__/  \__|
                                                                  
*/

  /* Parallax base styles
  --------------------------------------------- */

  .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }

  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 120vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }

  .parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }

  .parallax__group {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }


  /* demo styles
  --------------------------------------------- */

  body, html {
    overflow: hidden;
  }

  body {
    font: 100% / 1.5 Arial;
  }

  * {
    margin:0;
    padding:0;
  }

  .parallax {
    font-size: 200%;
  }

   /* centre the content in the parallax layers */
  .title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 76px;
    font-style: italic;
    color: white;
    position: absolute;
    left: 15%;
    top: 10%;
    /*-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
  }

   .sub-title {
    font-weight: 400;
    font-size: 36px;
    font-style: italic;
    -webkit-transform: translate(20%, -50%);
    transform: translate(20%, -50%);
  }

 .spnMoreDetails {
  position: absolute;
  top : 40%;
  right: 5%;
 }

  #group2 .title { color: orangered; }
  #group3 .title { color: blue; }
  #group4 .title {  -webkit-transform: translate(0%, 40px);
    transform: translate(0%, 40px); color: red; }
  #group5 .title { color: green; }
  #group6 .title { color: yellow; }
  #group7 .title { color: blue; }


  .parallax__group {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }


  /* style the groups
  --------------------------------------------- */

  #group1 {
    z-index: 5; /* slide over group 2 */
  }
  #group1 .parallax__layer--base {
    /*background: rgb(102,204,102);*/
    background: url('../assets/pics/01-iceland.jpg');
    background-size: 1790px 1400px;
    background-repeat: no-repeat;
  }

  #group2 {
    z-index: 3; /* slide under groups 1 and 3 */
  }
  #group2 .parallax__layer--back {
    /*background: rgb(123,210,102);*/
     background: url('../assets/pics/02-amsterdam.jpg');
    background-size: 1790px 1400px;
    background-repeat: no-repeat;
    background-position: 0% 30%;
  }

  #group3 {
    z-index: 4; /* slide over group 2 and 4 */
  }
  #group3 .parallax__layer--base {
    /*background: rgb(153,216,101);*/
     background: url('../assets/pics/03-paris.jpg');
    background-size: 1790px 1400px;
    background-repeat: no-repeat;
    background-position: 0% 20%;
  }

  #group4 {
    z-index: 2; /* slide under group 3 and 5 */
  }
  #group4 .parallax__layer--deep {
    /*background: rgb(184,223,101);*/
    height: 150vh;
    background: url('../assets/pics/04-swiss.jpg');
    background-size: 1790px 1400px;
    background-repeat: no-repeat;
  }

  #group5 {
    z-index: 3; /* slide over group 4 and 6 */
  }
  #group5 .parallax__layer--base {
    /*background: rgb(214,229,100);*/
    background: url('../assets/pics/05-rome.jpg');
    background-size: 1790px 1400px;
    background-repeat: no-repeat;
  }

  #group6 {
    z-index: 2; /* slide under group 5 and 7 */
  }
  #group6 .parallax__layer--back {
    /*background: rgb(245,235,100);*/
    background: url('../assets/pics/06-austria.jpg');
    background-size: 1790px 1400px;
    background-repeat: no-repeat;
    background-position: 0% 80%;
    /*height: 150vh;*/
  }

  #group7 {
    z-index: 3; /* slide over group 7 */
  }
  #group7 .parallax__layer--base {
    /*background: rgb(255,241,100);*/
        background: url('../assets/pics/07-usa.jpg');
    background-size: 1790px 1400px;
    background-repeat: no-repeat;
  }

.side_nav {
position: absolute;
opacity: 0.2;
z-index:100;
left: 0vh;
top: auto;
font-size:80%;
text-align:center;
width: 30px;
height: 100%;
padding: 20px;
background: white;
}

.side_nav a {
  text-decoration: none;
}

.side_nav:hover {
  opacity: 1;
  transition : all 0.5s;
}

.side_nav .imgFlags {
  opacity: 0.4;
  height: 30px;
  width: 30px;
}

.imgFlags:hover {
  opacity: 1;
  -webkit-transform : translateZ(5px) scale(1.5);
  transform : translateZ(5px) scale(1.5);
  transition : transform 0.3s;
}