@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

/*
* $$$$$$$\                              $$\ $$\                     
* $$  __$$\                             $$ |$$ |                    
* $$ |  $$ |$$$$$$\   $$$$$$\  $$$$$$\  $$ |$$ | $$$$$$\  $$\   $$\ 
* $$$$$$$  |\____$$\ $$  __$$\ \____$$\ $$ |$$ | \____$$\ \$$\ $$  |
* $$  ____/ $$$$$$$ |$$ |  \__|$$$$$$$ |$$ |$$ | $$$$$$$ | \$$$$  / 
* $$ |     $$  __$$ |$$ |     $$  __$$ |$$ |$$ |$$  __$$ | $$  $$<  
* $$ |     \$$$$$$$ |$$ |     \$$$$$$$ |$$ |$$ |\$$$$$$$ |$$  /\$$\ 
* \__|      \_______|\__|      \_______|\__|\__| \_______|\__/  \__|
*/

  /* Parallax base styles
  --------------------------------------------- */

  .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }

  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }

  .parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }

  .parallax__group {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }


  /* demo styles
  --------------------------------------------- */

  body, html {
    overflow: hidden;
  }

  body {
    font: 100% / 1.5 Arial;
  }

  * {
    margin:0;
    padding:0;
  }

  .displayHide {
    display: none;
  }

  .parallax {
    font-size: 200%;
  }

   /* centre the content in the parallax layers */
  .title {
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 76px;
    font-style: italic;
    color: white;
    position: absolute;
    left: 15%;
    top: 10%;
    /*-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
  }

   .sub-title {
    font-weight: 400;
    font-size: 36px;
    font-style: italic;
    -webkit-transform: translate(20%, -50%);
    transform: translate(20%, -50%);
  }

 /*.spnMoreDetails {
  position: absolute;
  top : 40%;
  right: 5%;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  cursor: pointer;
 }

 .spnMoreDetails .fa {
  margin-left: 36%;
 }

 .spnMoreDetails:hover {
  background: antiquewhite;
  -webkit-transition: all 0.5s;
  transition : all 0.5s;
 }*/

  #group02 .title { color: orangered; }
  #group03 .title { color: blue; }
  #group04 .title { color: red; }
  #group05 .title { color: green; }
  #group06 .title { color: yellow; }
  #group07 .title { color: blue; }


  .parallax__group {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }

/* Page 2 effects */
.additional_content {
  z-index: 8;
  position: absolute;
  top : 100px;
}

/*
*  /$$$$$$$$                  /$$                          
* |__  $$__/                 | $$                          
*    | $$  /$$$$$$   /$$$$$$ | $$$$$$$   /$$$$$$   /$$$$$$ 
*    | $$ /$$__  $$ /$$__  $$| $$__  $$ |____  $$ /$$__  $$
*    | $$| $$  \ $$| $$  \ $$| $$  \ $$  /$$$$$$$| $$  \__/
*    | $$| $$  | $$| $$  | $$| $$  | $$ /$$__  $$| $$      
*    | $$|  $$$$$$/| $$$$$$$/| $$$$$$$/|  $$$$$$$| $$      
*    |__/ \______/ | $$____/ |_______/  \_______/|__/      
*                  | $$                                    
*                  | $$                                    
*                  |__/                                    
*/

.parallax__layer--back.topbar,.parallax__layer--deep.topbar {
  -webkit-transform: translateZ(0px) scale(1);
  transform: translateZ(0px) scale(1);
  background-position: 0% 45%;
}

div.title.topbar {
  transform : translate(55%,-10%);
  transition : transform 1s;
}

#group06 > div.title.topbar {
  transform: translate(100%,-80%);
  z-index: 6;
  transition: transform 1s;
}

div.sub-title.topbar {
  display: inline-block;
}

span.icon-wrap.topbar {
  text-align: center;
  position: absolute;
  z-index: 100;
  padding: 17px 10px;
  border: 0px solid #b24e44;
  background: #b24e44;
  width: 50px;
  top: -100px;
  left: 0;
  opacity: 0.8;
  transition : opacity 1s;
}

/* style the groups
*     /$$$$$$                                         
*  /$$__  $$                                        
* | $$  \__/  /$$$$$$   /$$$$$$  /$$   /$$  /$$$$$$ 
* | $$ /$$$$ /$$__  $$ /$$__  $$| $$  | $$ /$$__  $$
* | $$|_  $$| $$  \__/| $$  \ $$| $$  | $$| $$  \ $$
* | $$  \ $$| $$      | $$  | $$| $$  | $$| $$  | $$
* |  $$$$$$/| $$      |  $$$$$$/|  $$$$$$/| $$$$$$$/
*  \______/ |__/       \______/  \______/ | $$____/ 
*                                         | $$      
*                                         | $$      
*                                         |__/      
  */

  #group01 {
    z-index: 5; /* slide over group 2 */
  }
  #group01 .parallax__layer--base {
    /*background: rgb(102,204,102);*/
    background: url('../assets/pics/01-iceland.jpg');
    background-size: 1790px 1400px;
    background-repeat: no-repeat;
  }

  #group02 {
    z-index: 3; /* slide under groups 1 and 3 */
  }
  #group02 .parallax__layer--back {
    /*background: rgb(123,210,102);*/
     background: url('../assets/pics/02-amsterdam.jpg');
    background-size: 1790px 1400px;
    background-repeat: no-repeat;
    background-position: 0% 30%;
  }

  #group03 {
    z-index: 4; /* slide over group 2 and 4 */
  }
  #group03 .parallax__layer--base {
    /*background: rgb(153,216,101);*/
     background: url('../assets/pics/03-paris.jpg');
    background-size: 1790px 1400px;
    background-repeat: no-repeat;
    background-position: 0% 20%;
  }

  #group04 {
    z-index: 2; /* slide under group 3 and 5 */
  }
  #group04 .parallax__layer--deep {
    /*height: 150vh;*/
    background: url('../assets/pics/04-swiss.jpg');
    background-size: 1790px 1400px;
    background-repeat: no-repeat;
  }

  #group05 {
    z-index: 3; /* slide over group 4 and 6 */
  }
  #group05 .parallax__layer--base {
    background: url('../assets/pics/05-rome.jpg');
    background-size: 1790px 1400px;
    background-repeat: no-repeat;
  }

  #group06 {
    z-index: 2; /* slide under group 5 and 7 */
  }
  #group06 .parallax__layer--back {
    background: url('../assets/pics/06-austria.jpg');
    background-size: 1790px 1400px;
    background-repeat: no-repeat;
    background-position: 0% 80%;
    /*height: 150vh;*/
  }

  #group07 {
    z-index: 3; /* slide over group 7 */
  }
  #group07 .parallax__layer--base {
    /*background: rgb(255,241,100);*/
        background: url('../assets/pics/07-usa.jpg');
    background-size: 1790px 1400px;
    background-repeat: no-repeat;
  }
/*
  /$$$$$$  /$$       /$$                 /$$   /$$                     
 /$$__  $$|__/      | $$                | $$$ | $$                     
| $$  \__/ /$$  /$$$$$$$  /$$$$$$       | $$$$| $$  /$$$$$$  /$$    /$$
|  $$$$$$ | $$ /$$__  $$ /$$__  $$      | $$ $$ $$ |____  $$|  $$  /$$/
 \____  $$| $$| $$  | $$| $$$$$$$$      | $$  $$$$  /$$$$$$$ \  $$/$$/ 
 /$$  \ $$| $$| $$  | $$| $$_____/      | $$\  $$$ /$$__  $$  \  $$$/  
|  $$$$$$/| $$|  $$$$$$$|  $$$$$$$      | $$ \  $$|  $$$$$$$   \  $/   
 \______/ |__/ \_______/ \_______/      |__/  \__/ \_______/    \_/    
*/

.side_nav {
position: absolute;
opacity: 0.5;
z-index:100;
left: 0vh;
top: auto;
font-size:80%;
text-align:center;
width: 100px;
height: 100%;
/*padding-left: 10px;*/
background: white;
}

.side_nav a {
  text-decoration: none;
}

.side_nav:hover {
  opacity: 1;
  transition : all 0.5s;
}
